@import "./variables";

.rbc-agenda-view {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  overflow: auto;

  table.rbc-agenda-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;

    tbody > tr > td {
      vertical-align: top;
    }

    .rbc-agenda-time-cell {
      @apply p-5;
      text-transform: lowercase;
    }

    tbody > tr > td + td {
      @apply border border-l-slate-300;
    }

    .rbc-rtl & {
      tbody > tr > td + td {
        border-left-width: 0;
      }
    }

    tbody > tr + tr {
      @apply border border-t-slate-300;
    }

    thead > tr > th {
      @apply p-3 rounded-none text-slate-900 border border-slate-300;
      text-align: center;

      .rbc-rtl & {
        text-align: right;
      }
    }
  }
}

.rbc-agenda-time-cell {
  text-transform: lowercase;

  .rbc-continues-after:after {
    content: " »";
  }
  .rbc-continues-prior:before {
    content: "« ";
  }
}

.rbc-agenda-date-cell,
.rbc-agenda-time-cell {
  @apply p-5;
  white-space: nowrap;
}

.rbc-agenda-event-cell {
  @apply p-3;
  width: 100%;
}
